@model BienestarU.Models.tbl_actividad_empleado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ACTIVIDADES EMPLEADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lugar_actividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lugar_actividad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_actividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_actividad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora_actividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_actividad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_actividad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
