

@{
    ViewBag.Title = "ViewRecreacion";
}

<h2>RECREACIÓN</h2>

<p>
    @Html.ActionLink("Torneos internos", "Index", "tbl_torneo_interno")
</p>

<p>
    @Html.ActionLink("Actividades Empleado", "Index", "tbl_actividad_empleado")
</p>

<p>
    @Html.ActionLink("Actividades Gimnasio", "Index", "tbl_actividad_gimnasio")
</p>

<p>
    @Html.ActionLink("Deportes", "Index", "tbl_deporte")
</p>

<p>
    @Html.ActionLink("Entrenamientos", "Index", "tbl_entrenamiento")
</p>

<p>
@Html.ActionLink("Servicio asignación locker", "Index", "tbl_asignacion_locker")
</p>
