@model BienestarU.Models.tbl_asignacion_locker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SERVICIO ASIGNACIÓN LOCKER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dni_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dni_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_categoria_usuario.categoria_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_categoria_usuario.categoria_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_locker.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_locker.numero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_asignacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
