@model IEnumerable<BienestarU.Models.tbl_asignacion_locker>

@{
    ViewBag.Title = "Index";
}

<h2>SERVICIO ASIGNACIÓN LOCKER</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dni_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_categoria_usuario.categoria_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_locker.numero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dni_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_categoria_usuario.categoria_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_locker.numero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_asignacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_asignacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_asignacion })
        </td>
    </tr>
}

</table>
